$icon-font-path: "/fonts/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chat-panel {
  .panel-body {
    overflow-y: scroll;
    height: 400px;
  }
}

// chat
.chat
{
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #B3A9A9;

    .chat-body {
      overflow: hidden;
      overflow-wrap: break-word;

      &.user {
        text-align: right;
      }
      p {
        margin: 0;
        color: #777777;
      }
    }
  }

}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
